#problemMainPage{
    height: 100%;
}
#problemMainPage .main {
    padding: 1.428rem 1.428rem 0px 1.428rem;
    height: 100%;
    background-color: #eeeeee;
    padding-top: 4.2rem;
    box-sizing: border-box;
}

#problemMainPage .bigTitle {
    width: 100%;
    font-size: 1.2rem;
    margin : 0 auto 1.428rem 0;
    /*margin-bottom: 1.428rem;*/
    text-align: center;
}

#problemMainPage .subTitle {
    font-size: 1.0rem;
    color: #202020;
    margin-bottom: 0.5rem;
}

#problemMainPage .content {
    font-size: 0.85rem;
    color: #5F606D;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}